<style id="typeList" type="text/css">
	<div class="panel panel-default">
	<div class="panel-heading">
	商品分别表
        <a href="#/typeAdd" class="glyphicon glyphicon-plus pull-right">增加</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>商品名称</th>
				<th>描述</th>
				<th>分类</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% types.forEach(function(type){ %>
			<tr>
				<td> <%=type.tid%>  </td>
				<td> <%=type.typename%></td>
				<td> <%=type.typeinfo%></td>
				<td> <%=type.pid%></td>
				<td><a href="#/typeDel/<%= type.tid %>">删除</a>
				</td>
			</tr>
			<% })  %>
		</tbody>
	</table>
</div>
</style>